<h1>Listing parties</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parties.each do |party| %>
      <tr>
        <td>
          <%= link_to party do %>
            <%= party.wins %>
            /
            <%= party.count %>
          <% end %>
        </td>
        <% for profile in party.profiles %>
          <td>
            <%= avatar profile %>
            <%= profile.nickname %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

