<h1>Listing parties</h1>

<aside class="filters" id="filters">
  <label>
    Size:
    <%= select_tag 'size', options_for_select(2..5), include_blank: true, id: "size" %>
  </label>
  <% for profile in @profiles %>
    <label>
      <%= check_box_tag 'profiles', profile.id, false, class: "profile-filter" %>
      <%= avatar profile %>
    </label>
  <% end %>
</aside>

<div class="loading" id="loading">Loading...</div>
<table id="parties" class="sortable parties">
</table>

<script>
  var parties_url = "<%= parties_path(format: :json) %>";
  var profiles = <%= @profiles_json.html_safe %>;
</script>

<% content_for :bottom do %>
  <script>
    $(function(){
      da.parties.initPartyTable()
    })
  </script>
<% end %>