<h1>Listing parties</h1>

<table>
  <thead>
    <tr>
      <th>Winrate</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parties.each do |party| %>
      <tr>
        <td>
          <strong><%= party.winrate %>%</strong>
          <br>
          <small>
            <%= party.wins %>/<%= party.count %>
          </small>
        </td>
        <% (0..5).each do |i| %>
          <td>
            <%= party.profiles[i].try(:name) %>
          </td>
        <% end %>
        <td>
          <%= link_to "Show", party_path(party) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

