<h2>
  Party:
  <% for profile in @party.profiles %>
    <%= avatar profile %>
  <% end %>
</h2>

<p>
  <strong>Winrate:</strong>
  <%= @party.winrate %>%
  <small><%= @party.wins %>/<%= @party.count %></small>
</p>
<p>
  <strong>Strict winrate:</strong>
  <%= @party.strict_winrate %>%
  <small><%= @party.strict_wins %>/<%= @party.strict_count %></small>
</p>

<ul>
  <%= render partial: "matches/listing", collection: @matches, as: :match %>
</ul>

<h2>Match frequency</h2>
<% content_for :bottom do %>
  <script>
    $(function(){
      da.matches.drawCalendar("<%= calendar_matches_path(format: :json, profile_ids: @party.profiles.collect{|p| p.id.to_s}) %>");
    })
  </script>
<% end %>
