<h1>
  <%= hero_avatar @hero[:id] %>
  <%= Hero.name @hero[:id] %>
  <% if @profile %>
    -
    <small>
      <%= avatar @profile %>
      <%= @profile.name %>
    </small>
  <% end %>
</h1>

<div id="kda-chart" class="chart">
  <div class="title">
    KDA
    <%= link_to "reset", "javascript:kdaChart.filterAll();dc.redrawAll();", class: :reset, style: "display:none;" %>
  </div>
</div>

<div id="duration-chart" class="chart">
  <div class="title">
    Match duration
    <%= link_to "reset", "javascript:durationChart.filterAll();dc.redrawAll();", class: :reset, style: "display:none;" %>
  </div>
</div>

<div id="outcome-chart" class="chart">
  <div class="title">
    Outcome
    <%= link_to "reset", "javascript:outcomeChart.filterAll();dc.redrawAll();", class: :reset, style: "display:none;" %>
  </div>
</div>

<div id="xpm-chart" class="chart">
  <div class="title">
    XPM
    <%= link_to "reset", "javascript:xpmChart.filterAll();dc.redrawAll();", class: :reset, style: "display:none;" %>
  </div>
</div>

<div id="gpm-chart" class="chart">
  <div class="title">
    GPM
    <%= link_to "reset", "javascript:gpmChart.filterAll();dc.redrawAll();", class: :reset, style: "display:none;" %>
  </div>
</div>

<div id="volume-chart" class="chart">
  <div class="title">
    By week
    <%= link_to "reset", "javascript:volumeChart.filterAll();dc.redrawAll();", class: :reset, style: "display:none;" %>
  </div>
</div>

<div id="data-count">
  <span class="filter-count"></span> selected out of <span class="total-count"></span> records
</div>

<div id="lists">
  <div id="players-list" class="list"></div>
</div>

<% content_for :bottom do %>
  <script>
    $(function(){
      // da.heroes.KDAHistogram('#kda-chart', "<%= kda_hero_path(params[:id], profile_id: @profile, format: :json) %>");
      da.charts.performances("<%= kda_hero_path(params[:id], profile_id: @profile, format: :json) %>");
    })
  </script>
<% end %>
