<h1>Dashboard</h1>

<ul>
  <% for match in @matches %>
    <li>
      <strong>
        <%= link_to match do %>
          <%= match.won?(match.followed_players.first) ? "WIN" : "LOSS" %>
          <%= time_ago_in_words match.start %> ago
        <% end %>
      </strong>
      <small>(<%= match.mode %><%= " | RANKED" if match.ranked? %>)</small>
      <% for player in match.followed_players %>
        <p>
          <%= image_tag player.profile.small_avatar_url, alt: player.name %>
          <%= link_to player.name, player.profile %> went
          <%= player.kda %> as
          <%= player.hero %>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>
