<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Steam Id</th>
      <th>Last match</th>
      <th>War</th>
      <th>Match count</th>
      <th>Wins</th>
      <th>Losses</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.steam_id %></td>
        <td><%= profile.last_match %></td>
        <td><%= profile.war %></td>
        <td><%= profile.match_count %></td>
        <td><%= profile.wins %></td>
        <td><%= profile.losses %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
