<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last match</th>
      <th>Match count</th>
      <th>Wins</th>
      <th>Losses</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td>
          <%= link_to profile do %>
            <%= avatar profile %>
            <%= profile.name %>
          <% end %>
        </td>
        <td><%= match_time profile.matches.by_date.first %></td>
        <td><%= profile.matches.count %></td>
        <td><%= profile.matches.wins.count %></td>
        <td><%= profile.matches.losses.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @profiles %>
