<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Steam Id:</strong>
  <%= @profile.steam_profile_id %>
</p>

<p>
  <strong>Last match:</strong>
  <%= @profile.last_match %>
</p>

<p>
  <strong>War:</strong>
  <%= @profile.war %>
</p>

<p>
  <strong>Match count:</strong>
  <%= @profile.match_count %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @profile.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @profile.losses %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
