<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Steam Id:</strong>
  <%= @profile.steam_account_id %>
</p>
<p>
  <strong>Dota Id:</strong>
  <%= @profile.dota_account_id %>
</p>

<p>
  <strong>Following?:</strong>
  <%= @profile.follow %>
</p>

<p>
  <strong>Last match:</strong>
  <%= @profile.last_match %>
</p>

<p>
  <strong>War:</strong>
  <%= @profile.war %>
</p>

<p>
  <strong>Match count:</strong>
  <%= @profile.match_count %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @profile.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @profile.losses %>
</p>

<ul>
  <%= render partial: "matches/listing", collection: @matches, as: :match %>
</ul>

<%= link_to 'Get some matches', fetch_matches_path(account_id: @profile.dota_account_id) %> |
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
