<h1>
  <%= avatar @profile %>
  <%= @profile.name %>
</h1>

<%= profile_menu @profile, dotabuff_link(@profile) %>

<h2>Latest matches</h2>
<%= render partial: "matches/listing", collection: @matches, as: :match %>

<h2>Match frequency</h2>
<% content_for :bottom do %>
  <script>
    $(function(){
      da.matches.drawCalendar("<%= calendar_matches_path(format: :json, profile_ids: [@profile.id]) %>");
    })
  </script>
<% end %>
