<h1>
  <%= avatar @profile %>
  <%= @profile.name %>
</h1>

<h2>Latest matches</h2>
<ul>
  <%= render partial: "matches/listing", collection: @matches, as: :match %>
</ul>

<%= link_to 'Get some matches', fetch_matches_path(account_id: @profile.dota_account_id) %> |
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
