<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :steam_profile_id %><br>
    <%= f.text_field :steam_profile_id %>
  </div>
  <div class="field">
    <%= f.label :slot %><br>
    <%= f.text_field :slot %>
  </div>
  <div class="field">
    <%= f.label :hero_id %><br>
    <%= f.text_field :hero_id %>
  </div>
  <div class="field">
    <%= f.label :hero %><br>
    <%= f.text_field :hero %>
  </div>
  <div class="field">
    <%= f.label :kills %><br>
    <%= f.text_field :kills %>
  </div>
  <div class="field">
    <%= f.label :deaths %><br>
    <%= f.text_field :deaths %>
  </div>
  <div class="field">
    <%= f.label :assists %><br>
    <%= f.text_field :assists %>
  </div>
  <div class="field">
    <%= f.label :kda %><br>
    <%= f.text_field :kda %>
  </div>
  <div class="field">
    <%= f.label :leaver_status %><br>
    <%= f.text_field :leaver_status %>
  </div>
  <div class="field">
    <%= f.label :gold %><br>
    <%= f.text_field :gold %>
  </div>
  <div class="field">
    <%= f.label :last_hits %><br>
    <%= f.text_field :last_hits %>
  </div>
  <div class="field">
    <%= f.label :denies %><br>
    <%= f.text_field :denies %>
  </div>
  <div class="field">
    <%= f.label :gold_spent %><br>
    <%= f.text_field :gold_spent %>
  </div>
  <div class="field">
    <%= f.label :hero_damage %><br>
    <%= f.text_field :hero_damage %>
  </div>
  <div class="field">
    <%= f.label :tower_damage %><br>
    <%= f.text_field :tower_damage %>
  </div>
  <div class="field">
    <%= f.label :hero_healing %><br>
    <%= f.text_field :hero_healing %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :xpm %><br>
    <%= f.text_field :xpm %>
  </div>
  <div class="field">
    <%= f.label :gpm %><br>
    <%= f.text_field :gpm %>
  </div>
  <div class="field">
    <%= f.label :items %><br>
    <%= f.text_field :items %>
  </div>
  <div class="field">
    <%= f.label :addition_unit_items %><br>
    <%= f.text_field :addition_unit_items %>
  </div>
  <div class="field">
    <%= f.label :additional_unit_names %><br>
    <%= f.text_field :additional_unit_names %>
  </div>
  <div class="field">
    <%= f.label :upgrades %><br>
    <%= f.text_field :upgrades %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
