<tr class="team-player">
  <td class="team-hero"><%= hero_avatar player.hero_id %></td>
  <td class="team-profile"><%= profile_link player.profile %></td>
  <td class="team-avatar">
    <% if player.profile.try(:follow) %>
      <%= link_to avatar(player.profile), player.profile %>
    <% end %>
  </td>
  <% if @match.ad? %>
  <td class="team-abilities"><%= player_abilities(player) %></td>
  <% end %>
  <td class="team-level text-right"><%= player.level %></td>
  <td class="team-kills text-right"><%= player.kills %></td>
  <td class="team-deaths text-right"><%= player.deaths %></td>
  <td class="team-assists text-right"><%= player.assists %></td>
  <td class="team-gold text-right"><%= number_to_human player.net_worth %></td>
  <td class="team-last-hits text-right"><%= player.last_hits %></td>
  <td class="team-denies text-right"><%= player.denies %></td>
  <td class="team-xpm text-right"><%= player.xpm %></td>
  <td class="team-gpm text-right"><%= player.gpm %></td>
  <td class="team-hero-damage text-right"><%= number_to_human player.hero_damage %></td>
  <td class="team-hero-healing text-right"><%= number_to_human player.hero_healing %></td>
  <td class="team-tower-damage text-right"><%= number_to_human player.tower_damage %></td>
  <td class="team-items"><%= player_items player %></td>
</tr>