<table class="team">
  <thead>
    <th class="team-hero"></th>
    <th class="team-profile">Player</th>
    <th class="team-avatar"></th>
    <th class="team-level text-right">Level</th>
    <th class="team-kills text-right">K</th>
    <th class="team-deaths text-right">D</th>
    <th class="team-assists text-right">A</th>
    <th class="team-gold text-right">Gold</th>
    <th class="team-last-hits text-right">LH</th>
    <th class="team-denies text-right">DN</th>
    <th class="team-xpm text-right">XPM</th>
    <th class="team-gpm text-right">GPM</th>
    <th class="team-hero-damage text-right">HD</th>
    <th class="team-hero-healing text-right">HH</th>
    <th class="team-tower-damage text-right">TD</th>
    <th class="team-items">Items</th>
  </thead>
  <tbody>
    <%= render partial: "players/player", collection: players %>
  </tbody>
  <tfoot>
    <tr class="team-player">
      <td></td>
      <td></td>
      <td></td>
      <td class="team-level text-right"><%= players.sum(:level) %></td>
      <td class="team-kills text-right"><%= players.sum(:kills) %></td>
      <td class="team-deaths text-right"><%= players.sum(:deaths) %></td>
      <td class="team-assists text-right"><%= players.sum(:assists) %></td>
      <td class="team-gold text-right"><%= number_to_human players.sum(:gold) + players.sum(:gold_spent) %></td>
      <td class="team-last-hits text-right"><%= players.sum(:last_hits) %></td>
      <td class="team-denies text-right"><%= players.sum(:denies) %></td>
      <td class="team-xpm text-right"><%= players.sum(:xpm) %></td>
      <td class="team-gpm text-right"><%= players.sum(:gpm) %></td>
      <td class="team-hero-damage text-right"><%= number_to_human players.sum(:hero_damage) %></td>
      <td class="team-hero-healing text-right"><%= number_to_human players.sum(:hero_healing) %></td>
      <td class="team-tower-damage text-right"><%= number_to_human players.sum(:tower_damage) %></td>
      <td></td>
    </tr>
  </tfoot>
</table>