<p id="notice"><%= notice %></p>

<p>
  <strong>Steam profile:</strong>
  <%= @player.steam_profile_id %>
</p>

<p>
  <strong>Slot:</strong>
  <%= @player.slot %>
</p>

<p>
  <strong>Hero:</strong>
  <%= @player.hero_id %>
</p>

<p>
  <strong>Hero:</strong>
  <%= @player.hero %>
</p>

<p>
  <strong>Kills:</strong>
  <%= @player.kills %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @player.deaths %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @player.assists %>
</p>

<p>
  <strong>Kda:</strong>
  <%= @player.kda %>
</p>

<p>
  <strong>Leaver status:</strong>
  <%= @player.leaver_status %>
</p>

<p>
  <strong>Gold:</strong>
  <%= @player.gold %>
</p>

<p>
  <strong>Last hits:</strong>
  <%= @player.last_hits %>
</p>

<p>
  <strong>Denies:</strong>
  <%= @player.denies %>
</p>

<p>
  <strong>Gold spent:</strong>
  <%= @player.gold_spent %>
</p>

<p>
  <strong>Hero damage:</strong>
  <%= @player.hero_damage %>
</p>

<p>
  <strong>Tower damage:</strong>
  <%= @player.tower_damage %>
</p>

<p>
  <strong>Hero healing:</strong>
  <%= @player.hero_healing %>
</p>

<p>
  <strong>Level:</strong>
  <%= @player.level %>
</p>

<p>
  <strong>Xpm:</strong>
  <%= @player.xpm %>
</p>

<p>
  <strong>Gpm:</strong>
  <%= @player.gpm %>
</p>

<p>
  <strong>Items:</strong>
  <%= @player.items %>
</p>

<p>
  <strong>Addition unit items:</strong>
  <%= @player.addition_unit_items %>
</p>

<p>
  <strong>Additional unit names:</strong>
  <%= @player.additional_unit_names %>
</p>

<p>
  <strong>Upgrades:</strong>
  <%= @player.upgrades %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
