<table>
<thead>
  <tr>
    <th></th>
    <th>Players</th>
    <th>Mode</th>
    <th>Duration</th>
    <th>Date</th>
    <th>Radiant</th>
    <th>Dire</th>
  </tr>
</thead>

<tbody>
  <% matches.each do |match| %>
    <tr>
      <td><%= link_to match_outcome(match), match %></td>
      <td><%= match_party(match) %></td>
      <td><%= match.mode %></td>
      <td><%= match_duration match %></td>
      <td><%= time_ago match.end %></td>
      <td><%= match_heroes match, :radiant %></td>
      <td><%= match_heroes match, :dire %></td>
    </tr>
  <% end %>
</tbody>
</table>