<h1>Matches</h1>

<%= render partial: "find" %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Mode</th>
      <th>Lobby</th>
      <th>Start</th>
      <th>Duration</th>
      <th>Winner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.match_id %></td>
        <td><%= match.mode %></td>
        <td><%= match.lobby %></td>
        <td><%= time_ago_in_words match.start %> ago</td>
        <td><%= match.duration %></td>
        <td><%= match.winner %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @matches %>
