<h1>Matches</h1>

<h2>Find a match</h2>

<%= render partial: "find" %>

<h2>Listing matches</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Mode</th>
      <th>Start</th>
      <th>Duration</th>
      <th>Winner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.match_id %></td>
        <td><%= match.mode %></td>
        <td><%= match.start %></td>
        <td><%= match.duration %></td>
        <td><%= match.winner %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
