<div class="match">
  <header class="match-header">
    <%= match_outcome  @match %>
    <%= match_mode     @match %>
    <%= match_time     @match %>
    <%= match_duration @match %>
    <%= match_lobby    @match %>
  </header>
  <%= dotabuff_link @match %>
  <h2>Radiant</h2>
  <%= render partial: "players/team", locals: {players: @match.players.radiant.by_slot} %>
  <h2>Dire</h2>
  <%= render partial: "players/team", locals: {players: @match.players.dire.by_slot} %>
</div>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
