<p id="notice"><%= notice %></p>

<p>
  <strong>Mode:</strong>
  <%= @match.mode %>
</p>

<p>
  <strong>start:</strong>
  <%= @match.start %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @match.duration %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @match.winner %>
</p>

<%= render partial: "players/match_results", locals: {players: @match.players} %>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
