<h1>Match <%= @match.match_id %></h1>
<div class="match">
  <header class="match-header">
    <%= match_outcome  @match %>
    <%= match_mode     @match %>
    <%= match_time     @match %>
    <%= match_duration @match %>
    <%= match_lobby    @match %>
  </header>
  <%= dotabuff_link @match %>
  <h2>Radiant</h2>
  <%= render partial: "players/team", locals: {players: @match.players.radiant.by_slot} %>
  <h2>Dire</h2>
  <%= render partial: "players/team", locals: {players: @match.players.dire.by_slot} %>
</div>

<% if @match.profiles.following.length > 1 %>
  <p>Party: <%= party_link @match.party %></p>
<% end %>
